.UserMenu {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.avatar {
  margin-right: 5px;
}

.text {
  margin-right: 5px;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
}
